__pycache__

data_preprocess/train_all.json
data_preprocess/train.json
data_preprocess/test.json
data_preprocess/dev.json

data_preprocess/train/*.json
data_preprocess/dev/*.json
data_preprocess/test/*.json

model/*.pth
model/result/mlm_bert/static/*.pth
model/result/mlm_bert/static/*.log
model/result/mlm_bert/static/*.json
model/result/distill_bert/*.pth
model/result/distill_bert/*.log
model/result/distill_bert/*.json


inference/result/mlm_bert/static/*.json
inference/result/mlm_bert/static/*.log
inference/result/distill_bert/*.json
inference/result/distill_bert/*.log

api.log